---
// remote last slash from pathname
const { pathname } = Astro.url
const normalizedPathName =
	pathname.length > 1 && pathname.endsWith("/") ? pathname.slice(0, -1) : pathname

const pages = [
	{ name: "Inicio", href: "/" },
]
---
<header class="mb-10 h-16 max-w-[100vw] lg:h-24">
	<nav class="group flex h-full w-full items-center justify-between px-10 lg:justify-center">
		{
			pages.map(({ name, href}, key) => (
				<>
					<a
						href={href}
						class:list={[
							"nav-item relative hidden h-full text-white select-none flex-col items-center justify-center gap-1 text-center text-xl uppercase lg:flex lg:px-7 xl:px-10",
						]}
						id={`nav-link-${key}`}
					>
						<span class="z-10">{name}</span>
						<div class="background absolute -z-10 h-full w-full" />
					</a>
					{key === 1 && <div class:list={"hidden w-64 lg:block"} />}
				</>
			))
		}
  </nav>
</header>
