---
import Layout from '@/layouts/Layout.astro';

import KonamiCode from '@/components/KonamiCode.astro';

import Boxers from '@/sections/Boxers.astro';
import CountDown from '@/sections/CountDown.astro';
import Footer from '@/sections/Footer.astro';
import Hero from '@/sections/Hero.astro';
import Info from '@/sections/Info.astro';
import Sponsors from '@/sections/Sponsors.astro';
import PrincipalDate from '@/sections/PrincipalDate.astro';
---

<Layout title="Evening" description="The most epic evening event of the year">
	<Hero />
	<main>
		<PrincipalDate />
		<Boxers />
		<Sponsors />
		<!-- <Info /> -->
		<!-- <CountDown /> -->
	</main>
	<Footer />
	<KonamiCode />
</Layout>

<style>

</style>
