---
import HeroLogo from '@/components/HeroLogo.astro'
---

<section class="flex flex-col justify-center items-center">
  <h1 class="sr-only">Presentación de La Velada del Año IV</h1>
  <h2 class="-rotate-6 font-atomic text-4xl text-white">twitch.tv/ibai</h1>
    <div class="relative">
      <img src="images/drawn-x-logo.png" alt="Logo dibujado a mando de La Velada del año IV" class="absolute inset m-auto block h-auto w-full -z-10 max-w-[400px] scale-[126%] md:scale-[172%]"/>
      <div class="absolute inset-0 -z-10 m-auto w-full rounder-full bg-black opacity-70 blur-2xl md:size-[400px]"></div>

      <HeroLogo class="h-auto w-[300px] text-primary md:w-[500px]"/>
      <HeroLogo class="absolute inset-0 -z-10 h-auto w-[300px] text-[#f1ffaa]/70 blur md:w-[500px]"/>
    </div>
</section>