---
import Typography from "@/components/Typography.astro"
import { SPONSORS } from "@/const/sponsors"
---

<section class="my-40">
  <Typography as="h3" variant="atomic-title" color="accent" class:list={"text-center"}>
		Patrocinadores
	</Typography>
	<Typography as="p" variant="body" color="neutral" class:list={"mt-4 text-center"}>
    La Velada puede llevarse a cabo gracias a la colaboración de los siguientes patrocinadores.
	</Typography>

  <div class="mt-12 grid grid-cols-2 gap-8 md:grid-cols-3">
    {
      SPONSORS.map(({id, name, url}) => (
        <a 
					href={url}
					class="group flex h-24 items-center justify-center bg-gradient-to-b from-white/10 via-transparent to-transparent: hover:from-white/20 md:h-32"
					title={`Visita la página del patrocinador ${name}`}
					target="_blank"
					rel="noopener noreferrer"
				>
          <img
            loading="lazy"
            src={`/images/sponsors/${id}.svg`}
            alt={`Log del patrocinador ${name}`}
            class="w-32 h-auto transition group-hover:scale-106"
          />
        </a>
      ))
    }
  </div>

</section>