<header class="flex justify-center items-center py-4 w-[1120px]">
  <img
    class="rounded-full w-6 h-6"
    src="https://suabochica.com/sua_profile.jpg"
    alt="suabochica"
  />
  <nav>
    <a href="/">Home</a>
    <a href="/about">Sobre mí</a>
    <a href="/projects">Contacto</a>
    <a href="/contact">Home</a>
  </nav>
</header>
