<header class="flex justify-between items-center py-4 w-[1120px] mx-auto mt-2">
  <img
    class="rounded-full w-16 h-16"
    src="https://suabochica.com/sua_profile.jpg"
    alt="suabochica"
  />
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Home</a>
    <a href="/about">Sobre mí</a>
    <a href="/projects">Contacto</a>
    <a href="/contact">Home</a>
  </nav>
</header>
