---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-m-20 w-full mx-auto container pt-16 lg:max-w-4xl md:max-w-2xl darl:text-white`} 
>
  <slot />
</section>
