---
import HeroLogo from '@/components/HeroLogo.astro'
---

<section>
  <span class="uppercase text-white bg-black px-2 py-1">Presentación de la</span>
  <HeroLogo class="h-auto w-[250px] overflow-visible md:w-[500px]" id="hero-logo-main" noEffect />
</section>