---
import HeroLogo from '@/components/HeroLogo.astro'
---

<section class="flex flex-col justify-center items-center">
  <span class="uppercase text-xl text-secondary bg-primary px-6 py-1 mb-9 font-medium">Presentación de la</span>
  <HeroLogo class="text-primary"/>
</section>