---
import "@fontsource-variable/onest";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="relative">
		<div
			class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-[#033431] bg-[radial-gradient(#ffffff33_1px,#264653_1px)] bg-[size:28px_28px]"
		>
		</div>

		<Header />

		<slot />

		<Footer />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
