---
import "@fontsource-variable/jost";

import ButtonUp from "@/components/ButtonUp.astro";
import SmokeBackground from "@/components/SmokeBackground.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body
    class="[&_:focus-visible]:outline-none [&_:focus-visible]:ring-2 [&_:focus-visible]:ring-primary"
  >
    <SmokeBackground />
    <div
      id="main-content"
      class="mx-auto max-w-6xl px-2 pt-16 selection:bg-primary selection:text-secondary md:pt-20 lg:px-10"
    >
      <slot />
    </div>
    <ButtonUp />
  </body>
</html>


<style is:global>
  :root {
    --color-primary: #333;
    --color-secondary: #ddd;
    --color-twitch: #9146ff;
    --color-twitch-ice: #f0f0ff;

    --background-color: #ddd;
    --background-twitch: #000;
  }

  .dark {
    --color-primary: #ddd;
    --color-secondary: #333;

    --background-color: #222;
    --background-twitch: var(--color-twitch-ice);
  }

  html {
    font-family: "Jost Variable", system-ui, sans-serif;
    background: var(--background-color);
    overflow-x: hidden;
    overscroll-behavior: none;
  }

  main {
    position: relative;
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  /* Hiding class, making content visible only to screen readers but not visually */
  /* "sr" meaning "screen-reader" */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: theme("colors.primary");
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-track {
    background: var(--background-image);
  }

  ::-webkit-scrollbar-corner {
    background: var(--background-image);
  }
</style>
