---
import LanguageSelector from "@/components/LanguageSelector.astro";
import Logo from "@/components/Logo.astro";
import HeaderLink from "@/components/HeaderLink.astro";
---

<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50">
  <div class="max-w-7xl mx-auto flex items-center justify-between gap-16">
    <HeaderLink
      checkActive={false}
      href="/"
      class="relative z-10"
      aria-label="Home"
    >
      <Logo
        class="absolute w-12 m-auto blur-sm opacity-0 transition-opacity duration-300 hover:opacity-100"
      />
    </HeaderLink>
    <nav
      class="w-full h-dvh inset-0 bg-[#151a36]/90 md:text-xl lg:text-xl flex flex-col items-center justify-center gap-8 -translate-y-full transition-transform duration-300 target:translate-y-0 md:static md:h-[initial] md:bg-[initial] md:flex-row md:translate-y-[initial]"
    >
      <HeaderLink class="" href="/vota">Vota</HeaderLink>
      <HeaderLink class="" href="/info">Info</HeaderLink>
      <HeaderLink class="" href="/archivo">Archivo</HeaderLink>
      <LanguageSelector />
    </nav>
  </div>
</header>
