---
import ChevronIcon from "@/components/icons/ChevronIcon.astro"
import { LANGUAGES } from '@/i18n/ui'
import { getRouteFromUrl, getLangFromUrl, useTranslatePath } from '@/i18n/utils'
---

<div class="relative inline-block text-left">

</div>