<section class="w-full max-w-[1400px] mx-auto p-20">
  <h3 class="uppercase text-center font-semibold mb-10 text-balance mx-auto">Guía de la 3a edición de los premios ESLAND</h3>
  <lite-youtube
    class="shadow-2xl shadow-white/10 rounded-xl"
    videoid="nYPVr2IYTtk"
    videotitle="Guía de la 3a edición de los premios ESLAND"
  ></lite-youtube>

</section>

<script>
  import "@justinribeiro/lite-youtube";
</script>