---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
  <h1 class="text-4xl text-white font-bold">Sobre el proyecto</h1>

  <p class="text-lg">
    Los registros de los lanzamientos de SpaceX es un proyecto para probar
    AstroJS
  </p>
</Layout>
