---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
---

<Layout
	title="Portafolio de suabochica."
	description="Contrata a suabochica para crear aplicaciones web maravillosas"
>
	<main>
		<section class="w-[740px] mx-auto py-40">
			<h1 class="text-white text-6xl font-bold flex flex-row gap-x-2 pb-8">
				Hey, soy suabochica <a
					href="https://www.linkedin.com/in/slbenitezd"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span class="text-orange-200/90">+8 años de expriencia.</span> Desarrollador
				web. De Bogotá, Colombia 🇨🇴.
			</h2>

			<nav class="flex gap-x-4 mt-8">
				<SocialPill href="https://linkedin.com/in/slbenitezd">
					<LinkedInIcon class="size-6" />
					LinkedIn
				</SocialPill>

				<SocialPill href="https://github/suabochica">
					<GitHubIcon class="size-6" />
					GitHub
				</SocialPill>

				<SocialPill href="https://github/suabochica">
					<MailIcon class="size-6" />
					sl.benitezd@gmail.com
				</SocialPill>
			</nav>
		</section>
	</main>
</Layout>

<style></style>
