---
import Layout from "../layouts/Layout.astro";

import BriefCaseIcon from "../components/icons/BriefCaseIcon.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import ProfileIcon from "../components/icons/ProfileIcon.astro";

import SectionContainer from "../components/SectionContainer.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout
	title="Portafolio de suabochica."
	description="Contrata a suabochica para crear aplicaciones web maravillosas"
>
	<main class="px-4">
		<SectionContainer class="py-40 pb-20">
			<h1
				class="text-white text-3xl md: text-4xl lg:text-5xl font-bold flex flex-row gap-x-2 pb-8"
			>
				Hey, soy suabochica <a
					href="https://www.linkedin.com/in/slbenitezd"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[680px] dark:text-white/80">
				<span class="text-orange-200/90">+8 años de expriencia.</span> Desarrollador
				web. De Bogotá, Colombia 🇨🇴.
			</h2>

			<nav class="flex gap-x-4 mt-8 dark:text-white/80">
				<SocialPill href="https://linkedin.com/in/slbenitezd">
					<LinkedInIcon class="size-6" />
					LinkedIn
				</SocialPill>

				<SocialPill href="https://github/suabochica">
					<GitHubIcon class="size-6" />
					GitHub
				</SocialPill>

				<SocialPill href="mailto:slbenitezd@gmail.com">
					<MailIcon class="size-6" />
					sl.benitezd@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-2xl font-semibold mb-8 flex gap-x-3 items-centerflex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white">
				<BriefCaseIcon class="size-8" />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-2xl font-semibold mb-8 flex gap-x-3 items-centerflex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white">
				<CodeIcon class="size-8" />
				Proyectos
			</h2>

			<Projects />
		</SectionContainer>

		<SectionContainer id="about-me">
			<h2 class="text-2xl font-semibold mb-8 flex gap-x-3 items-centerflex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white">
				<ProfileIcon class="size-8" />
				Sobre mí
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>

<style></style>
