---
import Layout from '@/layouts/Layout.astro';

import CountDown from '@/sections/CountDown.astro';
import Footer from '@/sections/Footer.astro';
import Hero from '@/sections/Hero.astro';
import Info from '@/sections/Info.astro';
import PrincipalDate from '@/sections/PrincipalDate.astro';
---

<Layout title="Evening">
	<Hero />
	<main>
		<PrincipalDate />
		<Info />
		<CountDown />
	</main>
	<Footer />
</Layout>

<style>

</style>
